<p>
  <strong>Discussion Name:</strong>
  <%= link_to discussion.name, project_discussion_path(discussion.project, discussion) %> ||||
  <strong>Discussion Goal:</strong>
  <%= discussion.goal %>
</p>

