<h1>
  <%= @project.name %>
</h1>

<h3>
  <strong>Project Exposition:</strong>
  <%= @project.exposition %>
</h3>

<%=link_to 'Project Discussions', project_discussions_path(@project) %>
<br/>

<%= link_to 'Back', projects_path %>